</main>

<footer>
  <ul class="footer-links">
    <li><a href="#">fb</a></li>
    <li><a href="#">linkdin</a></li>
    <li><a href="#">gitHub</a></li>
  </ul>
  <p class="copyright">© 2024. All rights reserved.</p>
</footer>

</body>

</html>
