<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles/main.css">
  <title>My Portfolio</title>
</head>

<header>
  <nav class="header-nav">
      <div class="logo">
          <h1>My Blog</h1>
      </div>
      <ul class="nav-links">
          <li><a href="/">Home</a></li>
          <li><a href="/createBlog">Create Blog</a></li>
          <li><a href="/contact">Contact</a></li>
      </ul>
  </nav>
</header>


<main class="container">
