<%-include("partials/header.ejs") %>


<section class="hero-section">
   <h2>Welcome to My Blog!</h2>
   <p>Explore the latest blogs, write your own, and connect with others.</p>
</section>

<section class="blog-posts">
   <ul>
       <% Blog.forEach(post => { %>
           <li>
               <a href="/post/<%= post.id %>"><%= post.title %></a>
           </li>
       <% }); %>
   </ul>
</section>


<%-include("partials/footer.ejs") %>